## Libraires

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Data Loading

In [7]:
cars_df=pd.read_csv('cars_price.csv')
cars_df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3.0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,NaN,mpfi,3.47,2.68,9.0,111,NaN,21.0,27.0,13495
1,3.0,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,NaN,21.0,27.0,16500
2,1.0,?,alfa-romero,gas,std,two,hatchback,rwd,NaN,94.5,...,152.0,mpfi,NaN,3.47,9.0,154,NaN,19.0,26.0,16500
3,2.0,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,NaN,10.0,102,5500,24.0,30.0,13950
4,2.0,164,audi,gas,std,NaN,sedan,4wd,front,99.4,...,136.0,mpfi,NaN,3.4,8.0,115,5500,18.0,22.0,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30325,3.0,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80.0,mpfi,NaN,NaN,9.4,135,NaN,NaN,NaN,15645
30326,NaN,168,toyota,gas,std,two,hatchback,rwd,front,94.5,...,98.0,mpfi,3.24,NaN,9.4,112,6600,26.0,29.0,9538
30327,1.0,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91.0,2bbl,3.03,NaN,9.0,68,5000,31.0,38.0,6695
30328,3.0,186,porsche,gas,std,NaN,hatchback,rwd,front,94.5,...,151.0,mpfi,3.94,NaN,9.5,143,5500,19.0,27.0,22018
30329,NaN,65,toyota,gas,NaN,four,hatchback,fwd,front,102.4,...,122.0,mpfi,NaN,3.54,8.7,NaN,4200,27.0,32.0,9988

#### Basic Info about the Data

In [5]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30330 entries, 0 to 30329
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          27286 non-null  float64
 1   normalized-losses  27294 non-null  object
 2   make               27228 non-null  object
 3   fuel-type          27309 non-null  object
 4   aspiration         27355 non-null  object
 5   num-of-doors       27321 non-null  object
 6   body-style         27326 non-null  object
 7   drive-wheels       27215 non-null  object
 8   engine-location    27352 non-null  object
 9   wheel-base         27264 non-null  float64
 10  length             27258 non-null  float64
 11  width              27387 non-null  float64
 12  height             27281 non-null  float64
 13  curb-weight        27302 non-null  float64
 14  engine-type        27285 non-null  object
 15  num-of-cylinders   27298 non-null  object
 16  engine-size        27271 non-null  float64
 17  fuel-system        27249 non-null  object
 18  bore               27373 non-null  object
 19  stroke             27409 non-null  object
 20  compression-ratio  27327 non-null  float64
 21  horsepower         27182 non-null  object
 22  peak-rpm           27331 non-null  object
 23  city-mpg           27229 non-null  float64
 24  highway-mpg        27303 non-null  float64
 25  price              27287 non-null  object
dtypes: float64(10), object(16)
memory usage: 6.0+ MB

#### Checking Nans

In [6]:
cars_df.isna().sum()

symboling            3044
normalized-losses    3036
make                 3102
fuel-type            3021
aspiration           2975
num-of-doors         3009
body-style           3004
drive-wheels         3115
engine-location      2978
wheel-base           3066
length               3072
width                2943
height               3049
curb-weight          3028
engine-type          3045
num-of-cylinders     3032
engine-size          3059
fuel-system          3081
bore                 2957
stroke               2921
compression-ratio    3003
horsepower           3148
peak-rpm             2999
city-mpg             3101
highway-mpg          3027
price                3043
dtype: int64

#### Data Type of Columns

In [10]:
categorical_columns=cars_df.select_dtypes(include='object').columns
categorical_columns

Index(['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type',
       'num-of-cylinders', 'fuel-system', 'bore', 'stroke', 'horsepower',
       'peak-rpm', 'price'],
      dtype='object')

In [11]:
numeric_columns= cars_df.select_dtypes(include='float64').columns
numeric_columns

Index(['symboling', 'wheel-base', 'length', 'width', 'height', 'curb-weight',
       'engine-size', 'compression-ratio', 'city-mpg', 'highway-mpg'],
      dtype='object')

#### Changing Some Columns Data Type